
.project

.buildpath

.settings/org.eclipse.php.core.prefs

.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs

.settings/org.eclipse.wst.validation.prefs

composer.lock

composer.phar

vendor

data/cache/module-classmap-cache.application.module.cache.php

data/cache/module-config-cache.application.config.cache.php
